<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="customerCenter.css">
</head>
<body>
    <div id="bodyarea">
        <div>
            1:1문의 관리
        </div>
        <div>
            <select name="답글상태" id="">
                <option value="1">답글상태</option>
                <option value="4">답글등록</option>
                <option value="4">답글미등록</option>
            </select>
        </div>
        <div>
            1:1문의작성
        </div>
        <div>
            문의내용 전체 출력
            <div>
                문의제목
                작성일
                문의글
                문의수정(버튼)
                문의삭제(버튼)
                답글...
            </div>
        </div>

    </div>
</body>
</html>