<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <link rel="stylesheet" href="../../resources/css/spacepage/spacemap.css">
    <link rel="stylesheet" href="../../resources/css/header/header.css">
    <link rel="stylesheet" href="../../resources/css/footer/footer.css">
</head>
<body>
	<div id="header">
        <div id="headerarea">
            <a href="../main.html">
                <img id="logo" src="../../resources/css/image/logo.png">
            </a>
            <form id="searchspace" action="검색.....">
                <input id="searchText" type="text" name="searchWord">
                <input id="searchIcon"  type="image" src="../../resources/css/image/icon/search-removebg.png">
            </form>
            <img id="menutab_buttom" src="../../resources/css/image/icon/catalog.png" onclick="menutabOpen()">
            <div id="menutab">
                <img id="menutab_close" src="../../resources/css/image/icon/close.png" onclick="menutabClose()">
                <div id="login">
                </div>
                <div id="mypage_package">
                    <div>
                        <a href="예약리스트 페이지">
                        <img src="../../resources/css/image/icon/reservation.png"><br>
                        <p>예약리스트</p>
                        </a>
                    </div>
                    <div>
                        <a href="이용후기 Q&A관리 페이지">
                        <img src="../../resources/css/image/icon/qna.png"><br>
                        <p>이용후기<br>Q&A 관리</p>
                        </a>
                    </div>
                    <div>
                        <a href="결제내역 마일리지 페이지">
                        <img src="../../resources/css/image/icon/payment.png"><br>
                        <p>결제내역<br>마일리지</p>
                        </a>
                    </div>
                </div>
                <div id="menutab_bottom">
                    <div class="menutab_bottom_item">
                        <a href="1:1문의 페이지">
                            1:1문의
                        </a>
                    </div>
                    <div class="menutab_bottom_item">
                        <a href="공지사항 페이지">
                            공지사항
                        </a>
                    </div>
                    <div class="menutab_bottom_item">
                        <a href="이용가이드">
                            이용가이드
                        </a>
                    </div>
                    <div class="menutab_bottom_item">
                        <a href="워크토크 소개">
                            워크토크 소개
                        </a>
                    </div>
                    <div class="menutab_bottom_item">
                        <a>공급자페이지로 이동</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- 지도를 표시할 div 입니다 -->
    <div id="body">
        <div id="bodyarea">
            <div id="map" style="width:100%;height:700px;"></div>
        </div>
    </div>
    <div id="footer">
        <div id="footer_area">
            <div>로고</div>
            <div>
                프로젝트명 : 워크토크
                팀원 : 이재석 이주희 최수연
                GIT : 주소....
            </div>
            <div>
                프로젝트이야기 : 노션?
            </div>
        </div>
    </div>
</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0fd06a3065b01f5befa56232b116ea8d"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(37.54, 126.96), // 지도의 중심좌표
            level: 8 // 지도의 확대 레벨
        };

    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
    var mapTypeControl = new kakao.maps.MapTypeControl();
    // 지도 타입 컨트롤을 지도에 표시합니다
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    // 더미데이터 준비

    const dataSet = [
        {
        title: "희락돈까스",
        address: "서울 영등포구 양산로 210",
        url: "https://www.youtube.com/watch?v=1YOJbOUR4vw&t=88s",
        category: "양식",
        },
        {
        title: "즉석우동짜장",
        address: "서울 영등포구 대방천로 260",
        url: "https://www.youtube.com/watch?v=1YOJbOUR4vw&t=88s",
        category: "한식",
        },
        {
        title: "아카사카",
        address: "서울 서초구 서초대로74길 23",
        url: "https://www.youtube.com/watch?v=1YOJbOUR4vw&t=88s",
        category: "일식",
        },
    ];

    var geocoder = new kakao.maps.services.Geocoder();

    function getCoordsByAddress(address) {
    // promise 형태로 반환
    return new Promise((resolve, reject) => {
        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(address, function (result, status) {
        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
            return resolve(coords);
        }
        reject(new Error("getCoordsByAddress Error: not valid Address"));
        });
    });
    }

    async function setMap(dataSet) {
    for (var i = 0; i < dataSet.length; i++) {
      let position = await getCoordsByAddress(dataSet[i].address);
  
      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: position, // 마커를 표시할 위치
      });

      markerArray.push(marker);
  
      // 마커에 표시할 인포윈도우를 생성합니다
      var infowindow = new kakao.maps.InfoWindow({
        content: getContent(dataSet[i]), // 인포윈도우에 표시할 내용
        disableAutoPan: true, // 인포윈도우를 열 때 지도가 자동으로 패닝하지 않을지의 여부 (기본값: false)
      });
      
      // infowindow를 관리하기 위한 배열생성 및 넣기
      infowindowArray.push(infowindow);
  
      // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
      // 이벤트 리스너로는 클로저를 만들어 등록합니다
      // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
      kakao.maps.event.addListener(
        marker,
        "click",
        makeOverListener(map, marker, infowindow, position)
      );
      // 커스텀: 맵을 클릭하면 현재 나타난 인포윈도우가 없어지게끔
      kakao.maps.event.addListener(map, "click", makeOutListener(infowindow));
    }
  }
  
  // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
  /* 
    커스텀
    1. 클릭시 다른 인포윈도우 닫기
    2. 클릭한 곳으로 지도 중심 이동하기
    */
  
  function makeOverListener(map, marker, infowindow, position) {
    return function () {
      // 1. 클릭시 다른 인포윈도우 닫기
      closeInfowindow();
      infowindow.open(map, marker);
      // 2. 클릭한 곳으로 짇 중심 이동하기
      map.panTo(position);
    };
  }
  
  // 커스텀
  // 1. 클릭시 다른 인포윈도우 닫기
  let infowindowArray = [];
  function closeInfowindow() {
    for (let infowindow of infowindowArray) {
      infowindow.close();
    }
  }
  
  // 인포윈도우를 닫는 클로저를 만드는 함수입니다
  function makeOutListener(infowindow) {
    return function () {
      infowindow.close();
    };
  }
  
  // HTML 코드로 바꾸는 함수
  function getContent(data) {
    // 유튜브 섬네일 id 가져오기
    let videoId = "";
    let replaceUrl = data.url;
    replaceUrl = replaceUrl.replace("https://youtu.be/", "");
    replaceUrl = replaceUrl.replace("https://www.youtube.com/embed/", "");
    replaceUrl = replaceUrl.replace("https://www.youtube.com/watch?v=", "");
    videoId = replaceUrl.split("&")[0];
  
    const result = `<div class="infowindow">
      <div class="infowindow-img-container">
        <img src="https://img.youtube.com/vi/${videoId}/sddefault.jpg" class="infowindow-img" alt="...">
      </div>
      <div class="infowindow-body">
        <h5 class="infowindow-title">${data.title}</h5>
        <p class="infowindow-text">${data.address}</p>
        <a href="https://youtu.be/${videoId}" target="_blank" class="infowindow-btn">영상이동</a>
      </div>
    </div>`;
    return result;
  }
  
  setMap(dataSet);


/*
**********************************************
5. 카테고리 분류
*/

  const categoryList = document.querySelector(".category-list");
  categoryList.addEventListener("click", categoryHandler);
  
  // 카테고리
  const categoryMap = {
    korea: "한식",
    china: "중식",
    japan: "일식",
    america: "양식",
    wheat: "분식",
    meat: "구이",
    sushi: "회/초밥",
    etc: "기타",
  };
  
  // 카테고리 클릭 핸들러
  function categoryHandler(event) {
    console.log(event.target.id);
    const categoryId = event.target.id;
    const category = categoryMap[categoryId];
  
    // 데이터 분류
    let categorizedDataSet = [];
    for (let data of dataSet) {
      if (data.category === category) {
        categorizedDataSet.push(data);
      }
    }
  
    console.log(categorizedDataSet);
  
    // 기존 마커 삭제
    closeMarker();
  
    // 기존 인포윈도우 닫기
    closeInfowindow();
    // 실행
    setMap(categorizedDataSet);
  }
  
  // 기존 마커 삭제 함수
  markerArray = [];
  function closeMarker() {
    for (var i = 0; i < markerArray.length; i++) {
      markerArray[i].setMap(null);
    }
  }
</script>
<script src="../../resources/js/spacepage/spacemap.js"></script>
</html>