<html>
    <div id="bodyarea">
        <div id="space_category">
            <a href="데스크공간 페이지">
                <div class="space_category_item">
                    <img src="image/icon/table.png" alt="데스크공간">
                    <p>데스크</p>
                </div>
            </a>
            <a href="회의실공간 페이지">
                <div class="space_category_item">
                    <img src="image/icon/meeting2.png" alt="회의실공간">
                    <p>회의실</p>
                </div>
            </a>
            <a href="오피스공간 페이지">
                <div class="space_category_item">
                    <img src="image/icon/office.png" alt="오피스공간">
                    <p>오피스</p>
                </div>
            </a>
        </div>
        <div id="recommend_space_box">
            <span id="recommend_space">오늘의 추천 공간</span>
            <div id="space_contant_all">
                <!-- 공간 모듈 출력 공간 -->
                <div class="space_contant_item dummy_space_contant_item">
                    <div class="space_slide dummy_space_slide">
                        <div class="slides_img dummy_slides_img">
                            <div><img src="image/space/dummy2.jpg"></div>
                            <div><img src="image/space/dummy1.jpg"></div>
                            <div><img src="image/space/dummy3.jpg"></div>
                        </div>
                    </div>
                    <a>
                        <div class="space_contant_text">
                                <p class="space_name">공간이름</p><br>
                                <img class="space_adress" src="/image/icon/location.png">
                                <p class="space_adress">공간주소</p><br>
                                <img src="/image/icon/star.png">
                                <p class="space_grade">평점</p>
                                <img src="/image/icon/comment.png">
                                <p class="space_review">후기</p>
                        </div>
                    </a>
                    <div class="controller">
                        <button type="button" class="prev" onclick="prev('dummy');">&lang;</button>
                        <button type="button" class="next" onclick="next('dummy');">&rang;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>